.goal-intro-text {
  margin-top: 25px;
}

.goals-image-grant {
  max-width: 760px;
  max-height: 153px;
}

.goal-one {
  max-width: 1129px;
  max-height: 227px;
}

.g1s1 {
  max-width: 1054px;
  max-height: 337px;
}

table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
  padding: 10px;
  justify-content: center;
  text-align: center;
  align-items: center;
}
